<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>layout 后台大布局 - Layui</title>
  {{include './common/linkcss.html'}}
  <style>
    .layui-logo > img{
      width:100%;
      height:100%;
    }
  </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
  
  {{include './common/header.html'}}
  {{include './common/side.html'}}
  <div class="layui-body">
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
      <form class="layui-form" action="">
        <div class="layui-form-item">
          <label class="layui-form-label">分类名称:</label>
          <div class="layui-input-inline">
            <input type="text" name="name" required  lay-verify="required" placeholder="分类名称" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">排序:</label>
          <div class="layui-input-inline">
            <input type="number" name="sort" required  lay-verify="number" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <label class="layui-form-label">添加时间:</label>
          <div class="layui-input-inline">
            <input type="text" name="add_date" id="add_date" required  lay-verify="required" autocomplete="off" class="layui-input">
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">编辑</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  {{include './common/footer.html'}}
 
</div>
{{include './common/scriptJs.html'}}
<script>
  // 获取地址栏中cat_id的参数 
let url = location.href;
let reg = /cat_id=(.*)&?/;
let [,cat_id] = [...reg.exec(url)];
$.ajax({
  url:"/getOneCate?cat_id=" + cat_id,
}).then(res=>{
  let {errcode,name,sort,add_date} = res;
  add_date = util.date_format(add_date,"YYYY-MM-DD HH:mm:ss");
  if(errcode == 0) {
    $("input[name='name']").val(name);
    $("input[name='sort']").val(sort);
    $("input[name='add_date']").val(add_date);
  }
})
//Demo
layui.use(['element','form','laydate','layer'], function(){
  var element = layui.element;
  var form = layui.form;
  var laydate = layui.laydate;
  var layer = layui.layer;
  //监听提交
  form.on('submit(formDemo)', function(data){
    let oldText = data.elem.innerText;
    $(data.elem).addClass("layui-btn-disabled").text("编辑中...");
    data = {
      ...data.field,
      cat_id
    };
    $.ajax({
      type:"post",
      url:"updCate",
      data:data
    }).then(res=>{ 
      $(data.elem).removeClass("layui-btn-disabled").text(oldText);
      let {errcode,message} = res;
      if(errcode == 0) {
        layer.msg(message);
        location.href = "/catindex";
      }else{
        layer.msg(message);
      }
    })
    return false;
  });
  laydate.render({
    elem:"#add_date",
    type:"datetime"
  });
});
</script>
</body>
</html>