<div class="layui-header">
  <div class="layui-logo"><img src="/public/images/logo.jpg" alt=""></div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <ul class="layui-nav layui-layout-left">
    <li class="layui-nav-item"><a href="">控制台</a></li>
    <li class="layui-nav-item"><a href="">商品管理</a></li>
    <li class="layui-nav-item"><a href="">用户</a></li>
    <li class="layui-nav-item">
      <a href="javascript:;">其它系统</a>
      <dl class="layui-nav-child">
        <dd><a href="">邮件管理</a></dd>
        <dd><a href="">消息管理</a></dd>
        <dd><a href="">授权管理</a></dd>
      </dl>
    </li>
  </ul>
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;">
        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
        <span id="username">用户名</span>
      </a>
      <dl class="layui-nav-child">
        <dd><a href="">基本资料</a></dd>
        <dd><a id="revise" href="javascript:;">安全设置</a></dd>
      </dl>
    </li>
    <li class="layui-nav-item"><a id="logout" href="javascript:;">退出系统</a></li>
  </ul>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
<script>
  window.onload = function () {
    layui.use(["layer"], function () {
      let layer = layui.layer;
      // 设置当前用户信息
      document.getElementById("username").innerHTML = localStorage.getItem("username");
      // 退出
      document.getElementById("logout").onclick = function () {
        // 清空session(需要发送ajax请求)
        $.get("/logout", (res) => {
          localStorage.clear();
          layer.msg(res.message);
          location.href = "/login";
        })
      }
      let revise = document.getElementById("revise");
      revise.onclick = function() {
        //页面层
      layer.open({
        type: 1,
        skin: 'layui-layer-rim', //加上边框
        area: ['420px', '240px'], //宽高
        content: 'html内容'
      });
      }
    })
  }
</script>